* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.main {
    display: flex;
    justify-content: center;
    background-color: #169CCC;
    border-radius: 14px;
    padding: 21px;
    width: 70%;
    max-width: 840px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 14px;
    position: relative;
    box-shadow: 0 7px 40px rgba(0,0,0,0.5);
    color: white;
}

.location-time {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.weather-type {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -38px;
}

.weather-type img {
    width: 150px;
    height: auto;
}


.search-box {
    position: absolute;
    top: 21px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    margin-top: 40px;
}

.search-box input {
    width: 100%;
    padding: 10px 17px;
    border-radius: 28px;
    border: none;
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
}

.upcoming-days {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 14px;
    border-radius: 14px;
    background: #4BB7DB;
}

.upcoming-days h3 {
    margin-top: 10px;
    /* margin-bottom: 4px; */
    /* font-size: 2.2rem; */
    text-align: center;
}

.upcoming-days .days-list{
    display: flex;
    flex-direction: grid;
    justify-content: center;
    gap: 12px;
    margin-top: 15px;
}

.upcoming-days img {
    width: 60px;
    height: 60px;
}

.upcoming-days .day {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.air-condition {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 42px 14px 14px 14px;
    border-radius: 14px;
    background: #4BB7DB;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

.air-condition h2 {
    margin-bottom: 14px;
}

.air-condition h3 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.air-condition img {
    width: 21px;
    height: 21px;
    margin-right: 7px;
}

.forecast {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding: 14px;
    border-radius: 14px;
    background: #4BB7DB;
}
.forecast .hours-list{
    display: flex;
    flex-direction: grid;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

.forecast h3 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    text-align: center;
}

.forecast img {
    width: 40px;
    height: 40px;
}

.sun-time {
    display: grid;
    justify-content: flex-start;
    margin-top: 15px;
}
.sunrise{
    display: flex;
    flex-direction: grid;
}
.sunrise img{
    width: 50px;
    height: 50px;
}
.sunrise h3{
    margin-top: 15px;
    margin-left: 10px;
}
.sunset{
    display: flex;
    flex-direction: grid;
}
.sunset img{
    width: 50px;
    height: 50px;
}
.sunset h3{
    margin-top: 15px;
    margin-left: 10px;
}